---
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="wrap header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="center white">#ChangeNJNow</h1>
            <hr class="center white">
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h3 class="center">They have money. We need <span class="blue">YOUR</span> help.</h3>
            <p class="center">
              We understand that technology and social media are a powerful tool to get more people involved. We can use this to our advantage and change New Jersey using Social Media Activism.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap steps">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h1 class="center">How does it work?</h1>
            <hr class="center">
            <p class="center">
              It’s simple. We need 5000 votes to win between Newark and Belleville. There are over 300,000 people that live in those two cities. All we need is to get ~2% of people to vote for change in Newark.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 step">
            <h2>Step One</h2>
            <p>
              Like and share our <a href="https://www.facebook.com/Qazi2019/" target="_blank">Facebook Page</a> with five friends! The Facebook page is the first place where we will share information about our campaign. The more people we have, the quicker information spreads. And it is all free.
            </p>
          </div>
          <div class="col-md-4 step">
            <h2>Step Two</h2>
            <p>
              Share our graphics on Facebook! Our graphics show how we contrast from the existing legislators. We need as many people to see them as possible. New graphics will be posted at least once a week. Once you see them, make sure you share them with your friends and post them in local groups. Get at least five friends to also share each post so we can grow quickly.
            </p>
          </div>
          <div class="col-md-4 step">
            <h2>Step Three</h2>
            <p>
              Sign our #ChangeNJNowPledge <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSY7tMrxx21cBTmzsr5DSSDMz1TQkZK8yCk2FG1rrpFnTCNA/viewform" target="_blank">here</a> and get as many of the people you know to also sign. This will help us monitor how much support we have, allow us to follow up with voters and make sure they get to the poll, and help us see how much more work is left to be done.
            </p>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
