---
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="wrap header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="center white">Change New Jersey #Twoday</h1>
            <hr class="center white">
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h3 class="center">Our campaign is changing the way we get more people involved.</h3>
            <p class="center">
              We want to make participating in our democracy as easy as possible and we want to make sure that everyone who joins us has an opportunity to directly ask questions to the candidate.
            </p>
            <p class="center">
              We really want to make this exciting for everyone involved! I hope you will join us in changing New Jersey for our future!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap steps">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="center">How does it work?</h1>
            <hr class="center">
          </div>
          <div class="col-md-4 dates">
            <h3>Pick two days that works for you:</h3>
            <p>Saturday, May 4th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 5th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 11th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 12th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 18th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 19th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 25th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 26th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, June 1st:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, June 2nd:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            </p>
          </div>
          <div class="col-md-4 dates">
            <h3>Pick two days that works for you:</h3>
            <p>Saturday, May 4th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 5th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 11th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 12th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 18th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 19th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 25th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 26th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, June 1st:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, June 2nd:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            </p>
          </div>
          <div class="col-md-4 dates">
            <h3>Pick two days that works for you:</h3>
            <p>Saturday, May 4th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 5th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 11th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 12th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 18th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 19th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, May 25th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, May 26th:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Saturday, June 1st:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            <p>Sunday, June 2nd:</p>
            <a href="#support" class="btn btn-primary">10:00AM</a>
            <a href="#support" class="btn btn-primary">3:00PM</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
