---
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="wrap header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="center white">#ChangeNJTwoday</h1>
            <hr class="center white">
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h3 class="center">They have money. We need <span class="blue">YOUR</span> help.</h3>
            <p class="center">
              If you give us eight hours of your time over two days, we WILL win. We are changing the way we get people involved by creating a 100% transparent volunteer process.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap steps">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="center">What to expect</h1>
            <hr class="center">
          </div>
          <div class="col-md-4">
            <h2>Hour 1</h2>
            <h3>Pizza, Meet and Greet, and Q&A</h3>
            <p>
              We want you to feel comfortable with our campaign and have all your questions answered before you go and talk to voters. That is why, we are going to kick things off with a conversation with you over some fresh pizza. We want you to know exactly what we are fighting and will help you tailor a personalized pitch before going door to door for our campaign.
            </p>
          </div>
          <div class="col-md-4">
            <h2>Hour 2 - 3.5<h2>
            <h3>Canvass</h3>
            <p>
              We will give you flyers, a voter directory, and pair you up with someone so that you can go and speak directly to voters. Everything you need will be given to you. All the training you need will be provided in the first hour. All you need is a smile on your face and some comfy sneakers and that will ensure we win this election.
            </p>
          </div>
          <div class="col-md-4">
            <h2>Hour 3.5 - 4</h2>
            <h3>Debrief</h3>
            <p>
              Our campaign is all about the people in Newark and Belleville. That is why at the end of every shift, we want to hear what the voters had to say and about how your conversations went. We also want to have our volunteers to share tips with us so that we can get better every single day. Your help is what will take us over the finish line.
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="center">How does it work?</h1>
            <hr class="center">
          </div>
          <div class="col-md-4 dates">
            <h2>Step One</h2>
            <p>
              Look at the below list and choose two shifts that work for you. Remember, each shift is four hours long.
            </p>
            <p>
              Click the time slot that works for you and RSVP “Going” on the Facebook Page.
            </p>
            <p>Saturday, May 11th:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530461041039" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530474374371" class="btn btn-primary">4:00PM</a>
            <p>Sunday, May 12th:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530477707704" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530481041037" class="btn btn-primary">4:00PM</a>
            <p>Saturday, May 18th:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530484374370" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530487707703" class="btn btn-primary">4:00PM</a>
            <p>Sunday, May 19th:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530491041036" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530497707702" class="btn btn-primary">4:00PM</a>
            <p>Saturday, May 25th:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530494374369" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530501041035" class="btn btn-primary">4:00PM</a>
            <p>Sunday, May 26th:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530504374368" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530507707701" class="btn btn-primary">4:00PM</a>
            <p>Saturday, June 1st:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530517707700" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530514374367" class="btn btn-primary">4:00PM</a>
            <p>Sunday, June 2nd:</p>
            <a target="_blank" href="https://www.facebook.com/events/298530511041034" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/298530521041033" class="btn btn-primary">4:00PM</a>
            <p>Monday, June 3rd:</p>
            <a target="_blank" href="https://www.facebook.com/events/303479810546104" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/303479817212770" class="btn btn-primary">4:00PM</a>
            <p>Tuesday, June 4th:</p>
            <a target="_blank" href="https://www.facebook.com/events/303479813879437" class="btn btn-primary">11:00AM</a>
            <a target="_blank" href="https://www.facebook.com/events/303479807212771" class="btn btn-primary">4:00PM</a>
          </div>
          <div class="col-md-4">
            <h2>Step Two</h2>
            <p>
              Spread the word. We can make this fun if we get your friends involved. In order to help, we have created the below graphics to help you spread the word.
            </p>
            <p>
              Pick a graphic that you like and share it on Facebook, Twitter, Instagram, or send it directly to your friends and get them to join us.
            </p>
            <div class="imgs">
              <a download="FtI-Climate.jpg" href="/assets/twoday/FtI-Climate.jpg">
                <img src="/assets/twoday/FtI-Climate.jpg">
              </a>
              <a download="FtI-Water.jpg" href="/assets/twoday/FtI-Water.jpg">
                <img src="/assets/twoday/FtI-Water.jpg">
              </a>
              <a download="FtI-Welfare.jpg" href="/assets/twoday/FtI-Welfare.jpg">
                <img src="/assets/twoday/FtI-Welfare.jpg">
              </a>
              <a download="FtI-Education.jpg" href="/assets/twoday/FtI-Education.jpg">
                <img src="/assets/twoday/FtI-Education.jpg">
              </a>
              <a download="FtI-Medicare.jpg" href="/assets/twoday/FtI-Medicare.jpg">
                <img src="/assets/twoday/FtI-Medicare.jpg">
              </a>
              <a download="FtI-Politics.jpg" href="/assets/twoday/FtI-Politics.jpg">
                <img src="/assets/twoday/FtI-Politics.jpg">
              </a>
               <a download="FtI-ICE.jpg" href="/assets/twoday/FtI-ICE.jpg">
                <img src="/assets/twoday/FtI-ICE.jpg">
              </a>
               <a download="FtI-Properties.jpg" href="/assets/twoday/FtI-Properties.jpg">
                <img src="/assets/twoday/FtI-Properties.jpg">
              </a>
               <a download="FtI-Millionaire.jpg" href="/assets/twoday/FtI-Millionaire.jpg">
                <img src="/assets/twoday/FtI-Millionaire.jpg">
              </a>
               <a download="FtI-License.jpg" href="/assets/twoday/FtI-License.jpg">
                <img src="/assets/twoday/FtI-License.jpg">
              </a>
               <a download="FtI-Homelessness.jpg" href="/assets/twoday/FtI-Homelessness.jpg">
                <img src="/assets/twoday/FtI-Homelessness.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <h2>Step Three</h2>
            <p>
              Dust off your sneakers, put on your best smile, and join us at the Branch Brook Park Welcome Center at the time of your shift.
            </p>
            <p>
              If you are driving, there is a parking available at the Welcome Center. If you are taking Public Transit, you can take NJ Transit to Newark Penn Station. Once you get to Penn Station, you can take the Newark Light Rail to Branch Brook Park, and the Welcome Center is a short walk from there.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.0122627579885!2d-74.17377051415805!3d40.78374455869005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25500f478b705%3A0x50e4fde2df85e2fa!2sCherry+Blossom+Welcome+Center!5e0!3m2!1sen!2sus!4v1556855272377!5m2!1sen!2sus" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
