---
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="wrap header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="center white"><span id="days"></span> Days Until the Election</h1>
            <hr class="center white">
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <h3 class="center">How to win an election in 10 days.</h3>
            <p class="center">
              The New Jersey Primary elections are in 7 days. We are going to spend the next seven days showing you exactly what we are working on, how we are getting our message across, and how we are spending the funds that we raised to run for office.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day One</h3>
            <p>
              The New Jersey Primary elections are in 7 days. We are going to spend the next seven days showing you exactly what we are working on, how we are getting our message across, and how we are spending the funds that we raised to run for office.
            </p>
            <p>
              Our goal is to make it clear that working people, people from different backgrounds, and people of all ages CAN run effective campaigns for public office and they should. We need to make it clear that money can't buy our elections. We can win by getting people involved and sharing information in an easy to digest way. We want to inspire more people across our country to pursue public office and run creative campaigns that work towards inspiring actions.
            </p>
            <p>
              It can't be about who has the most money. We can win this, all we need as your help to spread the word.
            </p>
            <p>
              Stay tuned for regular updates over the next ten days.
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/pTzbEn8a4Ag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Two</h3>
            <p>
              Day 2 of our How To Win an Election in 10 Days Vlog is out! Check out how we spent our day yesterday.
            </p>
            <p>
              PS: The audio is a little out of sync for the first two minutes. I spent hours trying to fix it with no luck. It's fixed after the first vlog clip.
            </p>
            <p>
              Moving forward, we will post one vlog per day instead of posting small clips throughout the day. Hope you will follow us along for this journey!
            </p>
            <p>
              Sign our voting pledge <a href="https://forms.gle/1R9soMiNiBWZq9Vu5">here</a>.
            </p>
            <p>
              Don't forget to vote on June 4th! Let's make history together and elect the youngest member to the New Jersey State Assembly!
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Three</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Four</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Five</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Six</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Seven</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Eight</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Nine</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none;" class="wrap video">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="center">Day Ten</h3>
            <p>
              Description Here
            </p>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/vcjTF4oBU-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="/scripts/date.js"></script>
  </body>
</html>
