<div class="wrap support">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="center white">How can you support?</h1>
        <hr class="center white">
      </div>
      <div class="col-md">
        <form class="volunteer">
          <h1>Volunteer</h1>
          <p>Leave your name and a way to contact you so we can reach out when we need you.</p>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <input type="text" name="name" class="form-control form-control-lg" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control form-control-lg" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8">
              <div class="form-group">
                <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Phone">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="zip" name="zip" class="form-control form-control-lg" placeholder="Zip">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group submit">
                <button type="submit" class="btn btn-primary"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md">
        <form class="donate">
          <div class="form-row">
            <div class="col">
              <h1 class="center">Donate</h1>
              <p>Empower our mission with any size contribution. No gift is too small to make a difference!</p>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">$5</a>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">$10</a>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">$25</a>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">$50</a>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                  <input disabled type="text" class="form-control form-control-lg" placeholder="Custom Amount">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <button type="submit" disabled class="btn btn-primary">SUBMIT</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect/dist/core.js"></script>
<script src="/scripts/nav.js"></script>
<script src="/scripts/typewriter.js"></script>
<script src="/scripts/form.js"></script>
