<div class="wrap support">
  <div class="container">
    <h1 class="white">How can you support?</h1>
    <hr class="white">
    <div class="grid">
      <form action="https://formspree.io/ymsimei@gmail.com" method="POST">
        <h2>Volunteer</h2>
        <p>Leave your name and a way to contact you so we can reach out when we need you.</p>
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="phone" class="phone" placeholder="Phone">
        <input type="text" name="zip" class="zip" placeholder="Zip">
        <input type="submit" value="SUBMIT">
      </form>
      <form class="donate">
        <h2>Donate</h2>
        <p>Empower our mission with any size contribution. No gift is too small to make a difference!</p>
        <div class="gifts">
          <a class="gift">Give $5</a>
          <a class="gift">Give $10</a>
          <a class="gift">Give $20</a>
          <a class="gift">Give $50</a>
        </div>
        <input type="text" disabled class="phone" placeholder="Custom Amount">
        <input type="submit" class="zip" disabled>
      </form>
    </div>
  </div>
</div>
