{% include head.html %}
<body>
  {% include nav.html %}
  <div class="wrap intro">
    <div class="container">
      <h1>Awais Qazi in a Nutshell</h1>
      <hr class="white">
    </div>
  </div>
  <div class="wrap about">
    <div class="container">
      <div>
      </div>
      <div>
        <h2>How might we change politics?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar, nulla quis mattis ornare, tortor nisl finibus augue, sit amet volutpat purus diam sed orci. Quisque ornare non libero eu auctor. Quisque a pharetra nunc. Nam sed diam quis ex pharetra elementum in vel urna. Maecenas imperdiet, magna sed posuere euismod, sem arcu dignissim enim, eget mattis nisi erat a tortor. Ut consequat volutpat efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel sapien eget erat efficitur condimentum. Proin a porta lacus. Integer faucibus, est vitae fermentum aliquet, sem arcu ornare ante, vel interdum libero sapien nec orci. Donec at mollis erat. Maecenas tellus risus, malesuada in sapien vel, hendrerit suscipit justo. Nam est nisl, viverra eu sapien sed, posuere egestas metus. Proin condimentum in massa id elementum. Etiam quis bibendum arcu. Sed tempus dolor dignissim auctor elementum.</p>
        <p>Duis diam sapien, placerat in sapien eu, imperdiet dapibus enim. Donec ut vehicula diam. Integer quis libero eu metus scelerisque pharetra. Mauris feugiat congue arcu, a consequat orci consequat in. Aenean imperdiet a odio eu efficitur. Praesent at leo lobortis, egestas orci non, bibendum erat. Nulla sollicitudin mi faucibus sapien venenatis volutpat. Quisque in diam sed leo imperdiet sollicitudin nec at orci. Praesent efficitur aliquet urna ut laoreet. Etiam purus leo, congue in tempor quis, dictum a ipsum. Vestibulum elementum, odio at maximus ultrices, mi justo iaculis justo, at pharetra est felis sit amet mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque maximus et dolor ac aliquam. Integer nec dolor sit amet arcu bibendum facilisis.</p>
      </div>
    </div>
  </div>
  {% include support.html %}
  <script src="/scripts/jquery.js" charset="utf-8"></script>
  <script src="/scripts/nav.js" charset="utf-8"></script>
  <script src="/scripts/words.js" charset="utf-8"></script>
</body>
